body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    text-align: left;
     
}

.titulo {
    font-size: 2em;
    color: #333;
    text-transform: uppercase;
    border-bottom: 2px solid #201f20;
    padding-bottom: 5px;
    margin-top: 50px;
    text-align: center;
}
